<settings>
    <servers>
        <server>
            <id>repository-1</id>
            <username>thanglv</username>
            <password>Th@ng1997</password>
        </server>
        <server>
            <id>repository-2</id>
            <username>thanglv</username>
            <password>Th@ng1997</password>
        </server>
    </servers>
</settings>
